#h1 {
    text-align:center;
    text-decoration:#e76f51 wavy underline;
    text-transform: uppercase;

}

/* font-weight: normal/bold/bolder/lighter */
/* font-weight:100-900 */
/* #h2 {
    font-weight:normal ;


}
#h3 {
    font-weight:bold ;


}
#h4 {
    font-weight:lighter ;


}
#h5 {
    font-weight:800 ;


} */
#one {
    text-align: end;
    font-family: cursive;
}
a{
    text-decoration:none;
    background-color: black; 
    /* color: rgb(10,25,65); */
    color: #e9c46a;

}
#two{
    text-align:center;
    /* font-family-fall back mechanism */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    background-color:#264653;
    color: #F4A261;
}
/* 96px =i inch=2.54cm */
#pone{
    font-size:25px
}
#ptwo{
    font-size:16px
}
#pthree{
    font-size:40px;
    line-height:45px; 
    text-transform:capitalize ;  


}